.donateContainer{
    position: absolute;
    top: 36rem;
    right: 15px;
    margin-bottom: 1rem;
    z-index: 99;
    button{
        border: 0;
        background-color: #FFB800;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        font-size: 1.2rem;
        filter: drop-shadow(2px 1px 5px rgba(0, 0, 0, 0.2));
        transition: all 0.5s;
        margin-bottom: 1rem;
    }

    button:hover{
        transform: scale(1.2);
    }
}